<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <title>用户列表</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">1</span>
                <span class="icon-bar">2</span>
                <span class="icon-bar">3</span>
            </button>
            <a class="navbar-brand">极简CRM</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">用户列表</a></li>
                <li><a href="/toadd">添加用户</a></li>
            </ul>

            <!--模糊查询-->
            <form class="navbar-form navbar-left " action="/findlike" method="post" style="margin-left: 20%">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="马什么梅？">
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 120px;">用户编号</th>
        <th>用户名</th>
        <th>登录名</th>
        <th>登录密码</th>
        <th>年龄</th>
        <th>地址</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="u:${ulist}">
        <td th:text="${u.getUid()}"></td>
        <td th:text="${u.getUsername()}"></td>
        <td th:text="${u.getLogname()}"></td>
        <td th:text="${u.getPassword()}"></td>
        <td th:text="${u.getAge()}"></td>
        <td th:text="${u.getAddress()}"></td>
        <td><a onclick="del(this)">删除</a></td>
    </tr>
    </tbody>
</table>


<div class="center-block text-center">
    <!--分页-->
    <ul class="pagination" >
        <li th:if="${!page.isFirstPage}"><a th:href="@{/ulist(page=1)}">首页</a></li>
        <li th:if="${page.isFirstPage}" class="disabled"><a>首页</a></li>

        <li th:if="${page.hasPreviousPage}"><a th:href="@{/ulist(page=${page.getNavigateFirstPage()})}">上一页</a></li>
        <li th:if="${!page.hasPreviousPage}" class="disabled"><a>上一页</a></li>
        <!--<li class="active"><a href="/ulist?page=1">1</a></li>-->
        <!--<li><a href="/ulist?page=2">2</a></li>-->
        <!--<li><a href="/ulist?page=3">3</a></li>-->
        <li th:if="${page.hasNextPage}"><a th:href="@{/ulist(page=${page.nextPage})}">下一页</a></li>
        <li th:if="${!page.hasNextPage}" class="disabled"><a>下一页</a></li>

        <li th:if="${!page.isLastPage}"><a th:href="@{/ulist(page=${page.getNavigateLastPage()})}">末页</a></li>
        <li th:if="${page.isLastPage}" class="disabled"><a>末页</a></li>
    </ul>
</div>


<div class="center-block text-center">

</div>

<!--删除-->
<script>

    function del(aElment){
        var id=$(aElment).parent().parent().children().first().text();
        console.log($(aElment).parent().parent().children().first().text());
        $.ajax({
            type:"post",
            url:"/delete/"+id,
            data:{},
            dataType:'json',//dataType:"json",使得返回来的数据格式为json 如果不 添加该条属性，则返回来的为字符串
            success:function(data){
                console.log(data.msg);//取值可以.key值
                alert("删除成功！");
                //移除节点
                $(aElment).parent().parent().remove();
            },
            error:function(data){
                alert("删除失败！");
                console.log(data.msg);
            }
        })
    }
</script>

</body>
</html>